{% include "shared/header.html" %}

<div class="container" ng-controller="AddEventController">
    <center>
        <h2>Restaurants</h2></center>

    <form role="form">
        <div class="form-group">
            <div class="form-group">
                <label for="restauranttype">Restaurant Type</label>
                <select aria-label="Search by type" ng-model="restauranttype" class="form-control" ng-options="x for x in restauranttypes"></select>
                <br>
                <label for="foursquare-city">City</label>
                <select aria-label="Search by city" ng-model="foursquarecity" class="form-control" ng-options="x for x in foursquarecities"></select>
            </div>
    </form>



    {% raw %}
    <div class="container">
        <h2>Restaurant</h2>




        <!--<div ng-repeat="restaurant in restaurants" ng-if="$index % 3 == 0" class="row">
    <div class="col-xs-4">{{restaurants[$index].name}}
        <a href="{restaurants[$index].link}}">
            <img src="{{restaurants[$index].url}}" alt="{{restaurants[$index].name}}">
        </a>
    </div>
    <div class="col-xs-4">{{restaurants[$index + 1].name}}
               <a href="{restaurants[$index].link}}">
            <img src="{{restaurants[$index].url}}" alt="{{restaurants[$index].name}}">
        </a>
    </div>
    <div class="col-xs-4">{{restaurants[$index + 2].name}}</div>
</div>-->
            <!--<div ng-repeat="restaurant in restaurants| startsWithA:criteriaprice" class="col-xs-4">-->

        <div class="row">
            <div ng-repeat="restaurant in restaurants| filter: filterRestaurants as filtered" class="col-xs-4">

                <a href="{restaurant.link}}">
                    <h3>{{restaurant['name']}}</h3>
                    <img src="{{restaurant.url}}" alt="{{restaurant.name}}">
                </a>

                <div>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <!--<a href="#/showratings/{{restaurant.id}}">Show Ratings</a>-->
                    <a href="#/showratings/{{restaurant.id}}" class="btn btn-default">Show Ratings</a>
                </div>

                <div>
                    <a href="#/raterestaurant/{{restaurant.id}}" class="btn btn-default" ng-disabled="notloggedin(username)">Rate {{restaurant.name}} </a>
                    <h5>{{showRating(restaurat_ratings[restaurant.id].rating,restaurat_ratings[restaurant.id].nratings)}}</h5>
                </div>

                <div>
                    <span class="glyphicon glyphicon-home"></span>
                    <strong> {{restaurant.address}}</strong>
                </div>

                <div>
                    <span class="glyphicon glyphicon-euro">Price</span>
                    <strong> {{restaurant.price}}</strong>
                </div>


                <h5>{{restaurant.rating}}</h5>

                <div>
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    <span class="sr-only">Phone:</span> 23323323
                </div>

            </div>
        </div>



        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Restaurant</a></th>
                    <!--<th><a href="" ng-click="orderByField='address'; reverseSort = !reverseSort">Adress</a></th>-->
                    <!--<th><a href="" ng-click="orderByField='rating'; reverseSort = !reverseSort">Rating on Foursquare</a></th>
                    <th><a href="" ng-click="orderByField='rating'; reverseSort = !reverseSort">Rating on Rate my Restaurant</a></th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="restaurant in restaurants|filter:search.name| orderBy:orderByField:reverseSort">
                    <td>
                        <a href="{{restaurant.link}}">
                            <h4>{{restaurant['name']}}</h4>
                            <img src="{{restaurant.url}}" alt="{{restaurant.name}}">
                        </a>
                        <br>
                        <h5>{{restaurant['address']}}</h5>
                        <h5>{{restaurant['rating']}}</h5>





                        <div>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <a href="#/showratings/{{restaurant.id}}">Show Ratings</a>
                        </div>

                        <div>
                            <span class="glyphicon glyphicon-home"></span>
                            <strong> {{restaurant.address}}</strong>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            <span class="sr-only">Phone:</span> 23323323
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endraw %}

    </div>