<div class="container" ng-controller="PasswordController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create New User</h3>
        </div>
        <div class="panel-body">
            <form novalidate class="simple-form">
                <label for="email">Email</label>
                <input id="email" type="text" ng-model="user.email" /><br>
                <!--<label>Password</label><input type="text" ng-model="user.password" /> -->

                <label>Password</label>
                <input ng-model="user.password1" type="password" placeholder="New password" maxlength="100"><br>

                <label>Repeat password</label>
                <input ng-model="user.password2" type="password" placeholder="Repeat password" maxlength="100">

            </form>

                <div class="alert alert-danger" ng-show="toshort(user.password1)">fewer than <strong>16</strong> characters</div>
                <div class="alert alert-danger" ng-show="tolong(user.password1)">greater than <strong>100</strong> characters</div>
                <div class="alert alert-danger" ng-show="nolowercaselatter(user.password1)">missing a <strong>lowercase</strong> letter </div>
                <div class="alert alert-danger" ng-show="nouppercaseletter(user.password1)">missing a <strong>uppercase</strong> letter </div>
                <div class="alert alert-danger" ng-show="illegalchar(user.password1)">password contains <strong>illegal</strong> character </div>
                <div class="alert alert-danger" ng-show="passwordsmatch(user.password1,user.password2)">password do not <strong>match</strong></div>


            <button type="submit" class="btn btn-primary" ng-click="createnewuser(user)">Create User</button>

        </div>
    </div>
</div>