<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a href="#" class="navbar-brand">Brand</a>-->
    </div>
    
                    <form class="navbar-form navbar-left" role="search">
                    <select aria-label="Search by type" class="form-control" ng-model="criteriatype" ng-change="typeChanged()">
                        <option>All types</option>
                        <option>Fast Food</option>
                        <option>Mexican</option>
                        <option>Italian</option>
                        <option>Chinese</option>
                        <option>Pizza</option>
                    </select>
                    <select aria-label="Search by price" class="form-control" ng-model="criteriaprice" ng-change="priceChanged()">
                        <option>All prices</option>
                        <option value="$">Low</option>
                        <option value="$$">Medium</option>
                        <option value="$$$">High</option>
                    </select>
                    <select aria-label="Search by Rating" class="form-control" ng-model="criteriarating" ng-change="ratingChanged()">
                        <option>All ratings</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                    </select>
                </form>
    
    
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
        </ul>
        <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" placeholder="Search by Restaurant" class="form-control" ng-model="search.name">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">

            {% raw %}
            <li><a href="#/home">{{getloggedinstate(username)}}</a></li>
            {% endraw %}
            <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>



    </div>

</nav>